.userWrapper {
  align-items: center;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.userTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 120px;
}

.userPhoto {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.followButton {
  outline: none;
  border: 1px solid rgb(237, 14, 176);
  text-decoration: none;
  width: 80px;
  height: 20px;
  background-color: rgb(237, 14, 176);
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  color: white;
}

.userInfo {
  width: 700px;
  height: 80px;
  border: 1px solid rgb(237, 14, 176);
  border-radius: 15px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userStatusName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  height: 90px;
  justify-content: space-around;
}

.userName {
  margin-left: -10px;
}

.userStatus {
  height: 50px;
  width: 500px;
  font-size: 18px;
  font-weight: 600;
}

.userLocation {
  margin-right: 10px;
}