.app {
  display: grid;
  grid-template-areas:
    "h h"
    "n p";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 100%;
  margin: 0 auto;
}

.header {
  grid-area: h;
  background-color: green;
}

.header img {
  width: 20px;
}

.nav {
  grid-area: n;
  background-color: yellow;
}

.profile {
  width: 100%;
  grid-area: p;
  background-color: blue;
}

.profile-img {
  width: 100%;
}
