.app {
  display: grid;
  grid-template-areas:
    "h h"
    "n p";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 85%;
  margin: 0 auto;
}

.app-content {
  width: 100%;
  grid-area: p;
  background-color: gold;
  margin-top: 10px;
}
